{% extends "StkForumBundle::layout.html.twig" %}
{% block forum_body %}
    <h2 xmlns="http://www.w3.org/1999/html">{{ subject.title }}</h2>
    <section class="align-right">
        <a href="{{ path('add_comment', {'id': subject.id}) }}" class="button">Ajouter des commentaires</a>
    </section>
    <div id="commentdiv">
        {{ render(controller('StkForumBundle:Comment:commentView',{'subject': subject, 'page': page})) }}
    </div>
    <script>
        setInterval(function () {
            $("#commentdiv").load("{{ path('comment_view', {'subject': subject.id, 'page': page}) }}", function () {});
        }, 2000);
    </script>
{% endblock %}