{% extends "::base.html.twig"%}
{% block body %}
    <!-- Main -->

        <div class="container">
            <div class="row">
                <div class="4u 12u(narrower)">
                    <div id="sidebar">
                        {{ render(controller("StkArchiveBundle:Default:menu")) }}
                    </div>
                </div>
                <div class="8u  12u(narrower) important(narrower)">
                    <div id="content">
                        {% block archive_body %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block javascripts %}
    <script>
        var nav = document.getElementById("archiveNav");
        nav.className +="current";
    </script>
{% endblock %}