.align-right {
    text-align: right !important;
    margin: 5px;
}

.align-center {
    text-align: center !important;
    margin: 5px;
}

.custom_margin {
    margin: 5px !important;
}

.custom_fieldset
{
    border:1px solid #37c0fb;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    padding: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}