{% extends 'StkArchiveBundle::layout.html.twig' %}
{% block archive_body %}
    <div class="video-container">
        <iframe height="315" width="560" src="https://www.youtube.com/embed/1bGOgY1CmiU" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
